body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#game-container {
    margin-top: 20px;
}

#ui-container {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

#score, #moves {
    margin: 10px;
}